<ion-view view-title="Состояние на сейчас">
    <ion-content>

        <ion-list class="tree emostatus">

            <ion-item class="" ng-repeat="emo in emostates"
            ng-class="'state-'+emo.state">



                <div class="row">
                    <div class="col-30 left-buttons">
                        <button class="button button-left button-icon big "
                                ng-class="isState(emo,-2)?'assertive-bg':''"
                                ng-click="setState(emo,-2);$event.stopPropagation()">
                            <i class="ion-ios-minus-outline"></i>

                        </button>
                        <button class="button button-left  button-icon   small"
                                ng-class="isState(emo,-1)?'lighter-assertive':''"
                                ng-click="setState(emo,-1);$event.stopPropagation()">
                            <i class="ion-ios-minus-outline"></i>
                        </button>
                    </div>

                    <div class="emo-name col-40">
                        {{emo.name}}
                    </div>
                    <div class="col-30 right-buttons">
                        <button class="button button-right button-icon  small icon-left"
                                ng-class="isState(emo,1)?'lighter-balanced':''"
                                ng-click="setState(emo,1);$event.stopPropagation()">
                            <i class="ion-ios-plus-outline"></i>
                        </button>
                        <button class="button button-right button-icon  big icon-left"
                                ng-class="isState(emo,2)?'balanced-bg':''"
                                ng-click="setState(emo,2);$event.stopPropagation()">

                            <i class="ion-ios-plus-outline "></i>

                        </button>
                    </div>
                </div>



            </ion-item>
        </ion-list>


        <div class="footer" ng-if="emostates.length>0">
            <br>
            <button class=" button  " ng-click="saveState();">
                Запомнить текущее состояние
            </button>
        </div>
    </ion-content>


</ion-view>
