<ion-view view-title="Выбери">
    <ion-content class="tree">
        <ion-list class="list-top">
            <div class="item" ng-repeat="bas_emotion in emotree" ng-click="toggleShow(bas_emotion)">

                {{bas_emotion.name}}<br><br>

                <ion-list ng-show="bas_emotion.show" class="list-emo">
                    <div class="item" ng-repeat="emo in bas_emotion.emos">
                        <div class="row">
                            <div class="col-30 left-buttons">
                                <button class="button button-left big "
                                        ng-class="isState(emo,-2)?'assertive-bg':''"
                                        ng-click="setState(emo,-2);$event.stopPropagation()">
                                    <i class="ion-ios-minus-outline"></i>

                                </button>
                                <button class="button button-left  icon  small"
                                        ng-class="isState(emo,-1)?'lighter-assertive':''"
                                        ng-click="setState(emo,-1);$event.stopPropagation()">
                                    <i class="ion-ios-minus-outline"></i>
                                </button>
                            </div>

                            <div class="emo-name col-40">
                                {{emo.name}}
                            </div>
                            <div class="col-30 right-buttons">
                                <button class="button button-right small icon-left"
                                        ng-class="isState(emo,1)?'lighter-balanced':''"
                                        ng-click="setState(emo,1);$event.stopPropagation()">
                                    <i class="ion-ios-plus-outline"></i>
                                </button>
                                <button class="button button-right big icon-left"
                                        ng-class="isState(emo,2)?'balanced-bg':''"
                                        ng-click="setState(emo,2);$event.stopPropagation()">

                                    <i class="ion-ios-plus-outline "></i>

                                </button>
                            </div>
                        </div>


                    </div>
                </ion-list>
        </ion-list>

    </ion-content>
</ion-view>
