/* Empty. Add your own CSS if you like */
.list-top .item {

    background:#fff;
}
.list-emo .item {
    background:#EEE;
}
.item {
    text-align: center;
padding-left:0;
    padding-right:0;
}
.button-left, .button-right {
 padding:0;


}
.left-buttons {
padding:0;
   left:0;
}
.right-buttons {
right:0px;
}

.emo-name {
    text-align: center;
    padding-top:15px;
    width:100%;
}
.small i {
    font-size:small;
}
.big i {
    font-size:x-large;
}

.lighter-assertive {
    background-color: #ffd7c8;
}
.lighter-balanced {
    background-color: #daffcc;
}

.state-1 {
    background-color: #daffcc;

}
.state-2 {
    background-color:#33cd5f;
    border:1px;
}
.state--1 {
    background-color: #ffd7c8;
    border:1px;
}
.state--2 {
    background-color:#ef473a;
}
.emostatus div {
    width:100%;
}
.emostatus .button-icon {
    padding-left:20px;
}

.footer{
    text-align:center;
}